.hero{
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 300px;
    justify-self: center;
    background-image: url(../images/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-image{
    display: none;
}
.info{
    align-self: center;
    color: rgb(224, 213, 213);
    padding: 10px 0;
    padding-left: 70px;
    background-color: rgba(51, 51, 51, 0.699);
}
.menu{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.dishe{
    grid-template-columns: repeat(3, minmax(75px, 1fr));
    margin: 0 50px;
}